
.header{
    width: 100vw;
    margin-top: 5rem;
    display: flex;
}

.description{
    font-size: 45px;
    width: 40vw;
    z-index: 10;
    position: absolute;
    left: 20vw;
    top: 190px;
}

.baaj{
    /* margin-top: 10px; */

    width: 360px;
    height: 300px;
    margin-left: 50vw;
}

